* {
  margin: 0;
  padding: 0;
}

.check,
.check * {
  border: 2px solid black;
}

.book{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.book:nth-child(odd){
  background-color: #dddddd;
}